body{
    margin: 0;
    background-color: rgb(34, 40, 49);
}

button{
    width: 50px;
    height: 30px;
    border-radius: 10px;
    border: solid .5px rgb(34, 40, 49);
    color: rgb(34, 40, 49);
    background-color: rgb(255, 211, 105);
}

button:hover{
    cursor: pointer;
    background-color: rgb(247, 217, 148);
    border: solid 2px rgb(34, 40, 49);
    
}
.overView{
    width: 90px;
}
.display{
    background-color: rgb(238, 238, 238);
    padding: 25px;
    margin: auto; 
    margin-top: 30px;
    border-radius: 15px;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px
    
}

.deleteButton{
    width: 70px;
}
/*------------- Personal Info -------------*/

.personalForm{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 2px solid rgb(34, 40, 49);
    padding-bottom: 10px;
}

.personalForm > input {
    width: 25%;
    height: 50px;
    font-size: 25px;
}

.personalInfoDisplay{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(34, 40, 49);
    padding-bottom: 10px;
}



.name{
    
    font-size: 30px;
    font-weight: bold;
}

.personalNotName{
    align-self: center;
}

.personalNotName > *{
    font-size: 18px;
    padding: 2px;
    margin: 5px;
    
}


/* ------------ WorkEXP ------------ */

/* Form */
.workExpForm{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    row-gap: 10px;
}
.workExpTitle{
    font-size: 25px;
}

.position{
    grid-column: 1/2;
    grid-row: 1/2;
}
.company{
    grid-column: 2/3;
    grid-row: 1/2;
}

.location{
    grid-column: 3/4;
    grid-row: 1/2;
}

.datesWorked{
    grid-column: 4/5;
    grid-row: 1/2;
}

.jobDescription{
    width: 90%;
    height: 90%;
    grid-column: 1/5;
    grid-row: 2/3;
    justify-self: center;
    display: flex;
    align-items: start;
    
}

#jobDescription{
    width: 100%;
    height: 100%;
}

/* Display */

.workExpDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5px;
    justify-items: center;
    column-gap: 10px;
}

.workExpDisplay > p{
    font-size: 18px;
    gap: 10px;
    justify-self: start;
}

.jobDescription{
    grid-column: 1/5;
    grid-row: 2/3;
    display: flex;
    gap: 20px;
    margin-top: 0;
    justify-self: start;
    width: 100%;
}

.jobDescriptionTitle{
    font-size: 18px;
    margin-top: 0;
}

.jobDescriptionList{
    font-size: 18px;
    text-overflow: wrap;
    margin-top: 0;
}

.workExpDisplay > button{
    grid-row: 3/4;
}

/* ------------ Education ------------ */

.educationDisplayTitle{
    font-size: 25px;
}

/* ---------form---------- */
.educationForm{
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.school{
    grid-column: 1/2;
}
.degree{
    grid-column: 2/3;
}

.GPA{
    grid-column: 3/4;
}

.date{
    grid-column: 4/5;
}

/* ---------display--------- */

.educationDisplay{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    font-size: 18px;
    gap: 10px;
    justify-self: start;
    margin-bottom: 0;
}


/* -----------Skills---------- */

.skillDisplayTitle{
    font-size: 25px;
    margin: 0;
}
.skillDisplayContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}